<div ng-controller="LoginCtrl">
    <input type="text" ng-model="email" placeholder="email"></input>
    <input type="text" ng-model="password" placeholder="password"></input>
    <button ng-click="login()">Login</button>

    <br><br>
    <button ui-sref="register_visitor" ui-sref-active="active">New Visitor Registration</button>
    <button ui-sref="register_owner" ui-sref-active="active">New Owner Registration</button>
    <br>
    <p ng-show="loginErrors" style="color: red">Error logging in. Please try again.</p>
</div>
