<div style="padding-left:20px;">
    <button ui-sref="owned_properties">Back (Don't Save)</button>

    <h3>Manage {{origProperty.name}}</h3>
    <div ng-if="farmItemOptions.length > 0"> <!--only show when loaded-->
        <p style="display:inline">Name:</p><input type="text" ng-model="obj.name" placeholder="Property Name" style="display:inline"></input>
        <p style="display:inline">Address:</p><input type="text" ng-model="obj.st_address" placeholder="Street Address"></input>
        <p style="display:inline">City:</p><input type="text" ng-model="obj.city" placeholder="City"></input>
        <br>
        <p style="display:inline">Zip:</p><input type="text" ng-model="obj.zip" placeholder="Zip"></input>
        <p style="display:inline">Size (acres):</p><input type="text" ng-model="obj.size" placeholder="Acres"></input>

        <div>
            <p style="display:inline">Public:</p>
            <select ng-model="obj.is_public" ng-options="x for x in isPublicOptions" style="display:inline"></select>
        </div>

        <div>
            <p style="display:inline">Commercial:</p>
            <select ng-model="obj.is_commercial" ng-options="x for x in isCommercialOptions" style="display:inline"></select>
        </div>


        <div>
            <p style="display:inline">Property Type: {{obj.type}}</p>
            <p>ID: {{obj.property_id}}</p>
        </div>
        <hr>
        <div>
            <select ng-model="ca.selectedCropOrAnimalAdd" ng-options="x for x in availableCrops | orderBy:x"></select>
            <button ng-click="toAdd.push(ca.selectedCropOrAnimalAdd)">Queue Crop/Animal for Addition to Property</button>
            <br>
            <div>
                <select ng-model="ca.selectedCropOrAnimalRemove" ng-options="x for x in obj.farmOptions"></select>
                <button ng-click="toRemove.push(ca.selectedCropOrAnimalRemove)">
                    Queue Crop/Animal for Removal from Property
                </button>
            </div>
            <p>Current crops: {{obj.crops}}</p>
            <p>Current animals: {{obj.animals}}</p>

            <p ng-show="toAdd.length > 0">Crops and animals to be added on save: {{toAdd}}</p>
            <p ng-show="toRemove.length > 0">Crops and animals to be removed on save: {{toRemove}}</p>
            <p ng-show="queueError" style="color: red">Queue deletion error. Make sure you are leaving at least one item.</p>
            <button ng-click="clearQueues()">Reset Queues</button>
            <br><br><br>
        </div>
        <hr>

        <div>
            <p style="display: inline"> Request New Animal </p>
            <input ng-model="newFarmItems.animal" placeholder="New Animal Name"></input>
            <button ng-click="requestAnimal(newFarmItems.animal)">Submit Animal Request</button>

            <p ng-show="newAnimalErrors" style="color:red">Error adding new animal.</p>
            <p ng-show="newAnimalSuccess" style="color:blue">Successfully requested new animal.</p>

        </div>
        <hr>
        <div>
            <p style="display: inline"> Request New Crop </p>
            <input ng-model="newFarmItems.crop" placeholder="New Crop Name"></input>
            <div>
                <p style="display: inline">Crop Type:</p>
                <select style="display: inline" ng-model="newFarmItems.cropType"
                ng-options="x for x in cropTypeOptions[obj.type]" style="display:inline"></select>
            </div>
            <button ng-click="requestCrop(newFarmItems.crop, newFarmItems.cropType)">Submit Crop Request</button>

            <p ng-show="newCropErrors" style="color:red">Error adding new crop.</p>
            <p ng-show="newCropSuccess" style="color:blue">Successfully requested new crop.</p>
        </div>

        <hr>

        <button ng-click="updateProperty()" class="btn btn-primary">Save Changes</button>
        <p ng-show="nullErrors" style="color: red">Please ensure all fields are filled out.</p>
        <p ng-show="success" style="color: blue">Property successfully updated. {{toChange}}</p>
        <p ng-show="otherErrors != null" style="color:red">{{otherErrors}}</p>
    </div>
</div>
