<div ng-controller="OtherOwnerPropertiesCtrl" style="padding-left: 5px">
    <h3>All Other Valid Properties</h3>
    <button ng-click="logOut()" style="display:inline">Log Out</button>
    <button ui-sref="owner_add_property" style="display:inline">Add New Property</button>

        <hr>

        <input ng-model="filterName" placeholder="Filter by name." style="display:inline"></input>
        <input ng-model="filterCity" placeholder="Filter by city." style="display:inline"></input>
        <input ng-model="filterType" placeholder="Filter by type." style="display:inline"></input>
        <input ng-model="filterNumVisits" placeholder="Filter by num_visits." style="display:inline"></input>

        <hr>
            <p>Filter by num visits:</p>

            <p style="display:inline">Min num_visits:</p>
            <input ng-model="minNumVisits" ng-init="minNumVisits=0" placeholder="Min Avg Rating." style="display:inline"></input>

            <p style="display:inline">Max num_visits:</p>
            <input ng-model="maxNumVisits" ng-init="maxNumVisits=5" placeholder="Max Avg Rating." style="display:inline"></input>
        <hr>
        <hr>
            <p>Filter by average rating:</p>

            <p style="display:inline">Min average rating:</p>
            <input ng-model="minAvgRating" ng-init="minAvgRating=0" placeholder="Min Avg Rating." style="display:inline"></input>

            <p style="display:inline">Max average rating:</p>
            <input ng-model="maxAvgRating" ng-init="maxAvgRating=5" placeholder="Max Avg Rating." style="display:inline"></input>
        <hr>

    <table class="table table-hover">
        <tr>
            <th ng-click="changeOrder('name')"
            ng-class="order === 'name' ? 'sorting-by' : 'sorting-by-disabled'">
                Name
            </th>
            <th>Address</th>
            <th ng-click="changeOrder('city')"
            ng-class="order === 'city' ? 'sorting-by' : 'sorting-by-disabled'">
                City
            </th>
            <th>Zip</th>
            <th>Size</th>
            <th>Type</th>
            <th ng-click="changeOrder('is_public')"
                ng-class="order === 'num_visits' ? 'sorting-by' : 'sorting-by-disabled'">
                Public
            </th>
            <th>Commercial</th>
            <th>ID</th>
            <th ng-click="changeOrder('num_visits')"
                ng-class="order === 'num_visits' ? 'sorting-by' : 'sorting-by-disabled'">
                Visits
            </th>
            <th ng-click="changeOrder('avg_rating')"
                ng-class="order === 'avg_rating' ? 'sorting-by' : 'sorting-by-disabled'">
                Average Rating
            </th>
        </tr>
        
        <tr ng-repeat="property in otherProperties | orderBy:order:asc |
            filter: avgRatingFilter | filter: numVisitsFilter |
            filter: { name: filterName } | filter: { city: filterCity } |
            filter: { type: filterPublic } | filter: { num_visits: filterNumVisits } |
            filter: { avg_rating: filterAvgRating }"
            ng-click="viewPropertyDetails(property.property_id)"
            ng-cloak>
            <td>{{property.name}}</td>
            <td>{{property.st_address}}</td>
            <td>{{property.city}}</td>
            <td>{{property.zip}}</td>
            <td>{{property.size}}</td>
            <td>{{property.type}}</td>
            <td>{{property.is_public ? "True" : "False"}}</td>
            <td>{{property.is_commercial ? "True" : "False"}}</td>
            <td>{{property.property_id}}</td>
            <td>{{property.num_visits}}</td>
            <td>{{property.avg_rating || 'N/A'}}</td>
        </tr>
    </table>
</div>
