<div style="padding-left:20px;">
    <h1><u>{{property.name}} Details</u></h1>
    <p><b>Name: </b>{{property.name}}</p>
    <p><b>Owner: </b>{{property.username}}</p>
    <p><b>Owner email: </b>{{property.email}}</p>
    <p><b>Address: </b>{{property.st_address}}</p>
    <p><b>City: </b>{{property.city}}</p>
    <p><b>Zip: </b>{{property.zip}}</p>
    <p><b>Size (acres): </b>{{property.size}}</p>
    <p><b>Type: </b>{{property.type}}</p>
    <p><b>Public: </b> {{property.is_public ? "True" : "False"}}</p>
    <p><b>Commercial: </b> {{property.is_commercial ? "True" : "False"}}</p>
    <p><b>ID: </b> {{property.property_id}}</p>
    <p><b>Visits: </b>{{property.num_visits}}</p>
    <p><b>Average Rating: </b>{{property.avg_rating == null ? "No Ratings" : property.avg_rating}}</p>
    <p><b>Crops: </b>{{property.crops}}</p>

    <div ng-if="currentUserType === 'Visitor'">
        <button ng-show="property.is_visited" ng-click="unlogVisit()">Un-Log Visit</button>

        <button ng-hide="property.is_visited" ng-click="logVisit()">Log Visit</button>
        <select ng-hide="property.is_visited" ng-model="score.selected" ng-options="value.id as value.value for value in options">
            <option value=""></option>
        </select>
        <p ng-show="!property.is_visited && logError" style="color:red">
            Please select a valid rating and try again.
        </p>
    </div>

    <button ng-click="back()">Back</button>
</div>
